html {
  .bg-success {
    color: white !important;
  }
}

.v-row + .v-row {
  margin-top: 0px;
}

.v-divider {
  opacity: 1;
  border-color: rgba(var(--v-theme-borderLight), 0.36);
}

.v-table > .v-table__wrapper > table > thead > tr > th {
  color: inherit;
}

.border-blue-right {
  border-right: 1px solid rgba(var(--v-theme-borderLight), 0.36);
  [dir='rtl'] & {
    border-right: unset;
    border-left: 1px solid rgba(var(--v-theme-borderLight), 0.36);
  }
}

.v-selection-control {
  flex: unset;
}

.no-spacer {
  .v-list-item__spacer {
    display: none !important;
  }
}

@keyframes progress-circular-rotate {
  100% {
    transform: rotate(270deg);
  }
}

.v-toolbar.breadcrumb {
  .v-toolbar__content {
    flex-wrap: wrap;
    height: unset !important;
  }
}

// apexchart css
.apexcharts-canvas {
  .apexcharts-tooltip-rangebar {
    padding: 0px 8px 5px;
  }
  .apexcharts-tooltip-title {
    margin-bottom: 0;
  }
  .apexcharts-tooltip-series-group {
    &.apexcharts-active,
    &:last-child {
      padding-bottom: 0;
    }
  }
  .apexcharts-menu {
    .apexcharts-menu-item {
      &:hover {
        background: rgb(var(--v-theme-gray100));
      }
    }
  }
}
.vue-apexcharts {
  [dir='rtl'] & {
    direction: ltr;
  }
}

// timeline css
.alrenating-timeline.v-timeline--vertical {
  &.v-timeline {
    .v-timeline-item {
      &:nth-child(2n) {
        .v-timeline-item__body {
          text-align: right;
          [dir='rtl'] & {
            text-align: left;
          }
        }
      }
    }
  }
}

.auth-2 {
  background: rgb(var(--v-theme-surface));
}
